/****** Object:  Database [spaservice]    Script Date: 07-Feb-25 10:54:06 AM ******/
CREATE DATABASE [spaservice]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07-Feb-25 10:54:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountId] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [nvarchar](255) NULL,
	[status] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[roleId] [varchar](50) NOT NULL,
	[updatedAt] [datetime] NULL,
 CONSTRAINT [PK__Account__F267251EDC136022] PRIMARY KEY CLUSTERED 
(
	[accountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[appointmentId] [varchar](50) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[requestId] [varchar](50) NOT NULL,
	[employeeId] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Appointm__D06765FEFE7307EE] PRIMARY KEY CLUSTERED 
(
	[appointmentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [varchar](50) NOT NULL,
	[categoryName] [varchar](50) NOT NULL,
	[categoryImage] [nvarchar](max) NOT NULL,
	[categoryDescription] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Category__23CAF1D8A4D253FF] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryEmployee]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryEmployee](
	[categoryId] [varchar](50) NOT NULL,
	[employeeId] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Category__2FD9BD442CF73D8A] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC,
	[employeeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commission]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commission](
	[commissionId] [varchar](50) NOT NULL,
	[percentage] [int] NOT NULL,
 CONSTRAINT [PK__Commissi__6A570BF27C360413] PRIMARY KEY CLUSTERED 
(
	[commissionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerId] [varchar](50) NOT NULL,
	[accountId] [varchar](50) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[gender] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NOT NULL,
	[dateOfBirth] [datetime] NULL,
	[membershipId] [varchar](50) NULL,
 CONSTRAINT [PK__Customer__B611CB7DD123CF42] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employeeId] [varchar](50) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[position] [varchar](50) NOT NULL,
	[hireDate] [datetime] NULL,
	[status] [varchar](50) NOT NULL,
	[image] [nvarchar](255) NULL,
	[accountId] [varchar](50) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK__Employee__C134C9C148E32653] PRIMARY KEY CLUSTERED 
(
	[employeeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeCommission]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeCommission](
	[employeeId] [varchar](50) NOT NULL,
	[commissionId] [varchar](50) NOT NULL,
	[transactionId] [varchar](50) NOT NULL,
	[commissionValue] [real] NOT NULL,
 CONSTRAINT [PK__Employee__840AEEB11E590AF8] PRIMARY KEY CLUSTERED 
(
	[employeeId] ASC,
	[commissionId] ASC,
	[transactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackId] [varchar](50) NOT NULL,
	[feedbackMessage] [nvarchar](255) NOT NULL,
	[rating] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[createdBy] [varchar](50) NOT NULL,
	[serviceId] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Feedback__2613FD2480E83971] PRIMARY KEY CLUSTERED 
(
	[feedbackId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membership]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership](
	[membershipId] [varchar](50) NOT NULL,
	[type] [nvarchar](50) NULL,
	[discount] [int] NOT NULL,
	[TotalPayment] [float] NULL,
 CONSTRAINT [PK__Membersh__86AA3B17022CD897] PRIMARY KEY CLUSTERED 
(
	[membershipId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[promotionId] [varchar](50) NOT NULL,
	[discountValue] [real] NOT NULL,
	[promotionCode] [varchar](50) NOT NULL,
	[promotionName] [varchar](50) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK__Promotio__99EB696E44B49C9D] PRIMARY KEY CLUSTERED 
(
	[promotionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[requestId] [varchar](50) NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[status] [varchar](10) NOT NULL,
	[customerNote] [nvarchar](255) NULL,
	[managerNote] [nvarchar](255) NULL,
	[serviceId] [varchar](50) NOT NULL,
	[customerId] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Request__E3C5DE31F2E1788E] PRIMARY KEY CLUSTERED 
(
	[requestId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [varchar](50) NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Role__CD98462A7CAD45DD] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[scheduleId] [varchar](50) NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[checkInTime] [datetime] NULL,
	[checkOutTime] [datetime] NULL,
	[status] [varchar](50) NULL,
	[employeeId] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[scheduleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaService]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaService](
	[serviceId] [varchar](50) NOT NULL,
	[serviceName] [varchar](50) NOT NULL,
	[price] [real] NOT NULL,
	[duration] [time](7) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[serviceImage] [nvarchar](max) NOT NULL,
	[categoryId] [varchar](50) NOT NULL,
	[noOfSessions] [int] NULL,
 CONSTRAINT [PK__SpaServi__455070DFB8D54B16] PRIMARY KEY CLUSTERED 
(
	[serviceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 07-Feb-25 10:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[transactionId] [varchar](50) NOT NULL,
	[transactionType] [varchar](10) NOT NULL,
	[totalPrice] [real] NOT NULL,
	[status] [bit] NOT NULL,
	[appointmentId] [varchar](50) NULL,
	[promotionId] [varchar](50) NULL,
	[membershipId] [varchar](50) NULL,
 CONSTRAINT [PK__Transact__9B57CF725A7D221F] PRIMARY KEY CLUSTERED 
(
	[transactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Account_roleId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Account_roleId] ON [dbo].[Account]
(
	[roleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__F3DBC572F6F4CF80]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Account__F3DBC572F6F4CF80] ON [dbo].[Account]
(
	[username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Appointment_employeeId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Appointment_employeeId] ON [dbo].[Appointment]
(
	[employeeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Appointment_requestId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Appointment_requestId] ON [dbo].[Appointment]
(
	[requestId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CategoryEmployee_employeeId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryEmployee_employeeId] ON [dbo].[CategoryEmployee]
(
	[employeeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_accountId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_accountId] ON [dbo].[Customer]
(
	[accountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_membershipId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_membershipId] ON [dbo].[Customer]
(
	[membershipId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employee_accountId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Employee_accountId] ON [dbo].[Employee]
(
	[accountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmployeeCommission_commissionId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeCommission_commissionId] ON [dbo].[EmployeeCommission]
(
	[commissionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmployeeCommission_transactionId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeCommission_transactionId] ON [dbo].[EmployeeCommission]
(
	[transactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Feedback_createdBy]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Feedback_createdBy] ON [dbo].[Feedback]
(
	[createdBy] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Feedback_serviceId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Feedback_serviceId] ON [dbo].[Feedback]
(
	[serviceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Promotio__E9685770FFA5DACE]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Promotio__E9685770FFA5DACE] ON [dbo].[Promotion]
(
	[promotionCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Request_customerId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Request_customerId] ON [dbo].[Request]
(
	[customerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Request_serviceId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Request_serviceId] ON [dbo].[Request]
(
	[serviceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SpaService_categoryId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_SpaService_categoryId] ON [dbo].[SpaService]
(
	[categoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transaction_appointmentId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Transaction_appointmentId] ON [dbo].[Transaction]
(
	[appointmentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transaction_membershipId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Transaction_membershipId] ON [dbo].[Transaction]
(
	[membershipId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transaction_promotionId]    Script Date: 07-Feb-25 10:54:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_Transaction_promotionId] ON [dbo].[Transaction]
(
	[promotionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[SpaService] ADD  DEFAULT ((1)) FOR [noOfSessions]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FKAccount946763] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FKAccount946763]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FKAppointmen118448] FOREIGN KEY([requestId])
REFERENCES [dbo].[Request] ([requestId])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FKAppointmen118448]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FKAppointmen55642] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FKAppointmen55642]
GO
ALTER TABLE [dbo].[CategoryEmployee]  WITH CHECK ADD  CONSTRAINT [FKCategoryEm127434] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[CategoryEmployee] CHECK CONSTRAINT [FKCategoryEm127434]
GO
ALTER TABLE [dbo].[CategoryEmployee]  WITH CHECK ADD  CONSTRAINT [FKCategoryEm89344] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[CategoryEmployee] CHECK CONSTRAINT [FKCategoryEm89344]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FKCustomer595641] FOREIGN KEY([membershipId])
REFERENCES [dbo].[Membership] ([membershipId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FKCustomer595641]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FKCustomer62882] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FKCustomer62882]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FKEmployee613705] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([accountId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FKEmployee613705]
GO
ALTER TABLE [dbo].[EmployeeCommission]  WITH CHECK ADD  CONSTRAINT [FKEmployeeCo384416] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[EmployeeCommission] CHECK CONSTRAINT [FKEmployeeCo384416]
GO
ALTER TABLE [dbo].[EmployeeCommission]  WITH CHECK ADD  CONSTRAINT [FKEmployeeCo818088] FOREIGN KEY([commissionId])
REFERENCES [dbo].[Commission] ([commissionId])
GO
ALTER TABLE [dbo].[EmployeeCommission] CHECK CONSTRAINT [FKEmployeeCo818088]
GO
ALTER TABLE [dbo].[EmployeeCommission]  WITH CHECK ADD  CONSTRAINT [FKEmployeeCo831824] FOREIGN KEY([transactionId])
REFERENCES [dbo].[Transaction] ([transactionId])
GO
ALTER TABLE [dbo].[EmployeeCommission] CHECK CONSTRAINT [FKEmployeeCo831824]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FKFeedback300803] FOREIGN KEY([serviceId])
REFERENCES [dbo].[SpaService] ([serviceId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FKFeedback300803]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FKFeedback851355] FOREIGN KEY([createdBy])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FKFeedback851355]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FKRequest464370] FOREIGN KEY([serviceId])
REFERENCES [dbo].[SpaService] ([serviceId])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FKRequest464370]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FKRequest796587] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FKRequest796587]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FKSchedule904727] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FKSchedule904727]
GO
ALTER TABLE [dbo].[SpaService]  WITH CHECK ADD  CONSTRAINT [FKSpaService221665] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[SpaService] CHECK CONSTRAINT [FKSpaService221665]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FKTransactio520442] FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointment] ([appointmentId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FKTransactio520442]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FKTransactio702984] FOREIGN KEY([membershipId])
REFERENCES [dbo].[Membership] ([membershipId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FKTransactio702984]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FKTransactio965842] FOREIGN KEY([promotionId])
REFERENCES [dbo].[Promotion] ([promotionId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FKTransactio965842]
GO
ALTER TABLE [dbo].[SpaService]  WITH CHECK ADD  CONSTRAINT [noOfSessionPositive] CHECK  (([noOfSessions]>=(1)))
GO
ALTER TABLE [dbo].[SpaService] CHECK CONSTRAINT [noOfSessionPositive]
GO
