.footer {
    background-color: #202020;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo {
    text-align: center;
  }
  
  .footer-logo-image {
    height: 250px;
    width: auto;
    margin-bottom: 10px;
  }
  
  .footer-info, .footer-quick-links {
    flex: 1;
    margin: 40px 10px;
  }

  .footer-quick-links {
    margin-right: -100px;
  }
  
  .footer-info h4,
  .footer-quick-links h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .footer-info p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.8;
  } 
  .footer-quick-links a {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.8;
  }
  
  .footer-quick-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-quick-links li {
    margin-bottom: 10px;
  }
  
  .footer-quick-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-quick-links a:hover {
    text-decoration: underline;
  }
  
  .footer-social {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: -75px;
  }

  .footer-social a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
  }

  .footer-notice-container {
    text-align: center;
    margin: 10px auto;
    width: 100%;
    background-color: transparent;
  }

  .footer-notice {
    color: #aa802b;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    font-style: italic;
    font-weight: 600;
  }
  
  .social-icon {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    font-size: 14px;
  }
  
  .social-icon:hover {
    color: #aa802b;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
    margin-top: 20px;
  }
  